.restaurant{
    width:100%;
}
.res_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.restaurant_list_lower{
    background-color: #F5F5F5;
}
input{
    height:40px;
    width:200px;
    margin:1.5% 5%;
}
::placeholder{
    font-size: 20px;
}